@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
$font-stack: 'Ubuntu Mono', monospace;

$background: #1f1f1f;
$body-color: #b6b6b6;
$reply-box: #232323;
$link-color: #ff3d3d;
$trip-color: $body-color;
$green-text: #008300;
$border-color: #707070;
$link-hover-color: #ffee4a;
$title-font: Tahoma, sans-serif;
$catalog-container-popup-color: #484848;
